.nft-card:hover {
  transform: translateY(-2px);
}
.nft-card {
  transition: transform 150ms;
}
@media (max-width: 767px) {
  .nft-card h3 {
    font-size: 12px;
    line-height: 16px;
  }
  .nft-card p {
    font-size: 10px;
    line-height: 14px;
  }
}
